.sidebar {
  background-color: #fdc44a;
}

.menu-list > li:first-child {
  margin-top: 1rem;
}

.menu-list a {
  height: 2rem;
}

.menu-list a:hover {
  background-color: unset;
  color: #363636;
}

.items-title:hover {
  background-color: unset;
}

.list-items {
  display: flex;
  height: 4rem;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  width: 13rem;
  padding-left: 1.5rem;

  &:hover {
    background-color: #ffdd92;
  }
}

.items-title {
  margin-top: 0.6rem;
}

.list-icons {
  height: 2.4rem;
  width: 2.4rem;
  margin-top: 0.25rem;
}