@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

body {
  font-family: 'Baloo 2', cursive;
}

.app {
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 3rem;
  width: 100%;
  background-color: #ffb617;
}

.wrapper {
  display: flex;
}